# deps
node_modules
.pnpm-store

# env
.env
.env.*
!.env.example

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# build outputs
dist
build
.next
out
coverage

# OS
.DS_Store

# caches
.turbo
.vite
.cache
# Prisma (normalmente NO ignoras schema/migrations)
# prisma/*.db
